<!--header-->
<div class="container-fluid " >
  <!--barre 1-->
  <div class="navbar row    mt-5 bgcolor1">
    <div class="navbar-brand h1 mt-3 text-light font1"><div class="d-inline">DOC</div> <div class="d-inline text-dark"> help</div></div>
    <div class="ml-5 my-2 "><i class="	fa fa-user-md fa-5x marginleft4" aria-hidden="true"></i></div>
    <a class="btn  mt-4 btn-lg text-danger btn-light font-weight-bold  margeleft2  color1 margeright1 ">Logout</a>
  </div>

  <!--barre 2-->
  <div class="navbar row   bg-dark  ">
    <div class="d-inline list-inline col-4">
      <ul >
        <li class="list-inline-item"><a class="btn color1 mt-4 btn-lg mr-5" routerLink="/choix">Choix</a></li>
        <li class="list-inline-item"><a class="btn color1 mt-4 ml-5 btn-lg mr-5" routerLink="/graphe">Graphe</a></li>
      </ul>
    </div>

    <div class="  mt-1  font2 d-inline col-2" ><div class="d-inline text-light">DOC</div> <div class="d-inline text-light"> help</div></div>
    <div class="col-6">
      <ul >
        <li class="list-inline-item"><a class="btn  mt-4 btn-lg mr-5 ml-5 color1 " routerLink="/prediction">Prediction</a></li>
        <li class="list-inline-item"><a class="btn  mt-4 btn-lg ml-5  color1" routerLink="/aide">Aide</a></li>

      </ul>
    </div>
  </div>
</div>
<!--header au dessus-->

<h1>Aide </h1>


