/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.min.css";
.bgcolor1{

  background-color: #2682C4;
}
.bgcolor2{

  background-color: #D6D6F6;
}

.font1{

  font-size:60px;
}
.font2{

  font-size:45px;
}
.textcolor1{
  color:#CACAE2;
}
.margeleft1{

  margin-left:500px;
}
.margeleft2{

  margin-left:100px;
}

li>a:hover{
  color:black;
  background-color: white;

}
.color1{
  color:white;
}

.margeright1{
  margin-right: 200px;

}
.btn-circle {
  width: 150px;
  height: 150px;
  padding-top: 50px ;
  border-radius: 75px;
  font-size: 24px;
  line-height: 1.33;
  text: center;
  background-color: #E1EAEE;
}

.marginleft4{

  margin-left:20px;
}
